<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration and Login</title>
</head>
<body>
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h2>Registration</h2>
    <form action="/register" method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="alias">Alias</label>
            <input type="text" name="alias">
        </div>
        <div>ls
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="password_confirm">Confirm Password</label>
            <input type="password" name="password_confirm">
        </div>
        <div>
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob">
         </div>
        <input type="submit" value='Register'>
    </form>
    <h2>Login</h2>
    <form action="/login" method="POST">
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value='Login'>
    </form> 
</body>
</html>