<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{user.name}}</h1>
    <a href="/logout">Logout</a>

    <p>Quotable Quotes</p>
    

    <div class="quotes" style="border: 3px black solid;">
        {% for quote in quotable_quotes %}
            <div>
                <p>{{quote.author}}:{{quote.content}}</p>
                <p>posted by:<a href="/users/{{quote.user.id}}">{{quote.user.name}}</a></p>
                <a href="/addfav/{{quote.id}}">Add to My List</a>
            </div>
        {% endfor %}
    </div>

    
    <p>Your Favorites:</p>
    
    
    <div>
        {% for favorite in favorite %}
                <div class="favorite" style="border: 3px black solid; left: 500px;"></div>>
                <p>{{favorite.author}}: {{favorite.content}}</p>
                    <p>posted by:<a href="/users/{{favorite.user.id}}">{{favorite.user.name}}</a></p>
                <a href="/removefav/{{favorite.id}}">Remove from My List</a>
            </div>
        {% endfor %}
        </div>
        

    {% if messages %}
        {% for message in messages%}
            {% if 'add_item' in message.tags %}
                <p>{{message}}</p>
            {% endif %}
        {%endfor%}
    {% endif %}

    <br>
    Add a Quote:
    
        <form action="/success" method="post">
    {% csrf_token %}
        <br>
        <label>Quoted By:</label>
        <input type="text" name="author">
        <br>
        <label>Message:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Submit">
    </form>

</body>
</html>